<div class="content">
  <div id="spotlight">
    <div class="container">
      <br>
      <br>
      <h1 class="header center deep-purple-text text-darken-4">Time to Garden</h1>
      <div class="row center">
        <h5 class="header col s12 light">Create your own personalise gardening plan today</h5>
      </div>
      <div class="row center">
        <%= link_to "Get Started", new_garden_path, class: "btn-large waves-effect waves-light green accent-3" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center deep-purple-text"><i class="medium material-icons">description</i></h2>
            <h5 class="center">Garden dimensions</h5>

            <p class="light">Create your garden plan based on your personal specs.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center deep-purple-text"><i class="fa fa-leaf" aria-hidden="true" style="font-size: 1.25em"></i></h2>
            <h5 class="center">Pick the plants</h5>

            <p class="light">Search through our database to find the right plants for your garden.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center deep-purple-text"><i class="fa fa-arrows" aria-hidden="true" style="font-size: 1.25em"></i></h2>
            <h5 class="center">Arrange your plants</h5>

            <p class="light">Create and layout your plants to design a plan suited for your needs.</p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  <div class="divider"></div>
  <div class="container"></div>
</div>
