<div class="container">
  <br>
  <br>
  <h1 class="header center green-text text-accent-3">Hello World Feature Box</h1>
  <div class="row center">
    <h5 class="header col s12 light">Create your own personalise gardening planner today</h5>
  </div>
  <div class="row center">
    <%= link_to "Get Started", root_path, class: "btn-large waves-effect waves-light green accent-3" %>
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-green-text"><i class="medium material-icons">description</i></h2>
          <h5 class="center">Garden dimensions</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem perferendis vero velit iste nulla aspernatur modi, quas accusantium reiciendis ut fugiat ipsum, odio, minus nobis, autem cupiditate asperiores veniam debitis.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-green-text"><i class="medium material-icons">games</i></h2>
          <h5 class="center">Get your weather info</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt illum expedita suscipit optio, quidem dolorem atque quia, ab nobis omnis quod corrupti, ut dignissimos at. Fugit ipsa nesciunt non distinctio.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-green-text"><i class="medium material-icons">mode_edit</i></h2>
          <h5 class="center">Pick and choose</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam atque nisi velit, rem sequi debitis eligendi illo autem quo voluptate laudantium, dolore dicta cum quos excepturi delectus? Sint, repellendus?</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <div class="section"></div>
</div>

<div class="container">

  
</div>
