<!-- <div class="container">
  <h2 class="header center green-text text-accent-3">Design your dream garden</h2>
</div> -->
<div>
  <div id="canvas">
    <div id="design-container"><div class="center"><button class="btn-large waves-effect waves-light green accent-3" id="start-button">Start Designing</button></div></div>
    <canvas id="garden-plan">
      <div id="message">
        <h4>Drop your plants here</h4>
      </div>
    </canvas>
  </div>
  <!-- <div id="planter">
    <div id="box">
      <h5 class="center">Planting Box</h5>
      <div id="dimension"></div>
      <% if @current_user.present? %>
        <div class="center">
          <button id="generate-list" class="btn waves-effect waves-light green accent-3">Generate Shopping List</button>
        </div>
      <% end %>
    </div>
  </div>

    <!-- <div class="col s12 m8 l9"> <! Note that "m8 l9" was added -->
    <!-- canvas page content

          This content will be:
      9-columns-wide on large screens,
      8-columns-wide on medium screens,
      12-columns-wide on small screens  -->
  <!-- </div> -->
<!-- </div> -->
<!-- <div class="container"> -->
  <div id="planter">
    <ul class="collapsible" data-collapsible="expandable">
     <li>
       <div class="collapsible-header"><i class="material-icons">filter_drama</i>Garden Size</div>
       <div class="collapsible-body">
         <span>
           <p>Enter the dimensions of your garden here</p>
           <div class="input-field">
             <input type="text" id="width" placeholder="Enter in meters" value="50"/>
             <label for="width">Width</label>
           </div>
           <div class="input-field">
             <input type="text" id="height" placeholder="Enter in meters" value="50"/>
             <label for="height">Height</label>
           </div>
           <div class="input-field center">
             <button id="draw-canvas" class="btn waves-effect waves-light green accent-3">Create</button>
           </div>
         </span>
       </div>
     </li>
     <li>
       <div class="collapsible-header"><i class="material-icons">search</i>Search for a Plant</div>
       <div class="collapsible-body">
        <span>
          <p>Enter the plant name here</p>
          <div class="input-field">
            <input type="text" id="plant-name" value="tomato"/>
            <label for="plant-name">Name</label>
          </div>
          <div class="input-field center">
            <button id="plant-search" class="btn waves-effect waves-light green accent-3">Search</button>
          </div>
        </span>
      </div>
     </li>
     <li>
       <div class="collapsible-header"><i class="material-icons">whatshot</i>Search Results</div>
       <div class="collapsible-body">
        <span>
          <div id="plant-details"></div>
        </span>
      </div>
     </li>
     <li>
       <div class="collapsible-header" id="plant-box-collapsible"><i class="fa fa-leaf" aria-hidden="true"></i>Planting Box</div>
       <div class="collapsible-body">
         <div id="dimension"></div>
        <span>
          <div id="box"></div>
        </span>
      </div>
     </li>
   </ul>
 </div>
</div>
