/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.

 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require jquery-ui.min
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import "materialize";

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

$primary-color: color("green", "accent-3");
$secondary-color: color("grey", "lighten-2");
$accent-color: color("deep purple", "darken-4");
$feature-color: color("grey", "lighten-3");

.fa.fa-pagelines {
  font-size: 1.5em;
}

#spotlight {
  background-image: url("header-image.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  padding: 10px;

  h1 {
    font-weight: bold;
  }

  h5 {
    color: white;
  }
}

#sign-in, #sign-up {
  height: 60vh;
}

.right.hide-on-med-and-down {
  float: right;
}

.brick.small {
  width: 75px;
  height: 75px;
  margin: 0;
  position: absolute!important;
  display: inline-block;
  img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 10px;
  }
}

#plant-select-button {
  margin: 0 20px;
  vertical-align: top;
  width: 50px;
}

.brick.small:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.text {
  color: $secondary-color;
  font-size: 0.8em;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.fa-leaf {
  padding-right: 15px;
}

.headline {
  width: 100%;

}

#dimension {
  width: 100%;
}

#box {
  width: 100%;
  min-height: 250px;
  height: auto;
  padding: 20px;
  margin-right: 0;
  margin-left: auto;
  // float: right;
  right: 0;
  background-color: $secondary-color;
}

.brick_container{
  width: 75px;
  height: 75px;
  display: inline-block;
  position: relative;
}
//
// .brick.large {
//   width: 200px;
//   height: 200px;
//   background-color: $secondary-color;
//   display: none;
// }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

table {
  border: 1px solid $secondary-color;

  td {
    border: 1px solid $secondary-color;
  }
}

main {
  flex: 1 0 auto;
}

#canvas {
  margin-left: 0;
  margin-right: auto;
  height: 80vh;
  width: 69%;
  // border: 1px solid red;
  display: inline-block;
}

#design-container {
  margin: auto;
  margin-top: 10%;
  width: 70%;
  height: 80%;
  border: 2px solid $feature-color;
  background-color: $secondary-color;
  button {
    margin-top: 30%;
  }
}

#message {
  margin: auto;
  color: white;
  display: none;
  text-align: center;
}

.card {
  padding: 20px;
}

.card-hide {
  display: none;
}

#planter {
  // border: 1px solid red;
  width: 30%;
  margin-right: 0;
  margin-left: auto;
  display: inline-block;
  vertical-align: top;
}

#panel {
  position: sticky;
  // border: 1px solid red;
  // width: 28%;
  // margin-right: 0;
  // margin-left: auto;
  // display: inline-block;
  // vertical-align: top;

}

canvas {
  position: relative;
}

.plant-icon {
  height: 50px;
  width: 50px;
}

#garden-plan {
  margin: 0 auto;
  padding: 0;
}

.ui-accordion, .ui-state-active {
  background: $primary-color;
  border: $primary-color;
}
/* label color */
.input-field label {
 color: $primary-color;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: $primary-color;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid $primary-color;
 box-shadow: 0 1px 0 0 $primary-color;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}
