/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.

 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require jquery-ui.min
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import "materialize";

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

$primary-color: color("green", "accent-3");
$secondary-color: color("grey", "lighten-2");
$accent-color: color("deep purple", "darken-4");

.brick.small {
  width: 55px;
  height: 55px;
  margin: 0;
  // position: relative;
  // background-color: $primary-color;
  // display: none;
  img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
  // :hover {
  //   .overlay {
  //     opacity: 1;
  //   }
  // }
}

.brick.small:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.text {
  color: $secondary-color;
  font-size: 0.8em;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#box {
  width: 400px;
  height: 500px;
  padding: 10px;
  margin-right: 0;
  margin-left: auto;
  right: 0;
  background-color: $secondary-color;
}
//
// .brick.large {
//   width: 200px;
//   height: 200px;
//   background-color: $secondary-color;
//   display: none;
// }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

table {
  border: 1px solid $secondary-color;

  td {
    border: 1px solid $secondary-color;
  }
}

main {
  flex: 1 0 auto;
}

#canvas {
  margin-left: 0;
  margin-right: auto;
  height: 80vh;
  width: 20vw;
  // position: absolute;
}

canvas {
  position: relative;
}

.plant-icon {
  height: 50px;
  width: 50px;
}

#garden-plan {
  margin: 0 auto;
  padding: 0;
}

.ui-accordion, .ui-state-active {
  background: $primary-color;
  border: $primary-color;
}
/* label color */
.input-field label {
 color: $primary-color;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: $primary-color;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid $primary-color;
 box-shadow: 0 1px 0 0 $primary-color;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}
